.home-title {
    text-align: center;
    margin: 40px 0 5px 0;
    font-size: 50px;
}

/* .cheese-carousel {
    margin: auto;
    width: auto;
    display: flex; */

    /* border: 10px solid black;
    border-radius: 10px; */
    /* display: flex;
    flex-direction: column; */
/* } */

/* img {
    align-content: center;
} */
.cheese-img {
    width: auto;
    margin-left: 750px;
    margin-right: 750px;
    margin-bottom: 50px;
    padding: 10px 0 100px 0;
    align-content: center;
}
div .carousel-item .carousel-item .active {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: center;
} 

/* .carousel-item .carousel-item .active {
    align-items: center;
} */

.cheese-text {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(4px); 
    margin: 30px 0 0 0;
}

