.navbar-profile-image {
    /* justify-content: center; */
        margin-left: auto;
        margin-right: auto;
        width:  60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin: 20px;
}
